.listagem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.loadSpiner {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-out forwards; /* Animação de entrada. */

}

.pesquisa {
  margin-top: 5%;
  width: 400px;
  animation: bounceIn 2.0s ease-out forwards; /* Animação de entrada. */
}

/* Quando a tela for maior que 900px */
@media screen and (min-width: 900px) {
  .pesquisa {
    margin-top: 2%;
  }
}

/* Quando a tela for menor que 612px */
@media screen and (max-width: 612px) {
  .pesquisa {
    width: 80%;
  }
}