.adicionar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adicionar > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ceps {
  display: flex;
  flex-direction: column;
}