.tudo-contato {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: fadeInDown 1s ease-out forwards;
}

.infos {
  margin-top: 15px;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}

.mapa-contato {
  border: 1px solid grey;
  padding: 150px;
}

.info-contato {
  margin-left: 2%;
  font-size: 16px;
}

.titulo-contato {
  margin-top: 1% !important;
  font-weight: bold;
  font-size: 17px;
}

.info-contato > div {
  margin-top: 8%;
  width: 300px;
  word-break: break-all;
}

.comentario-contato {
  margin-top: 23px;
}

.acoes-contato {
  margin-top: 23px;
  margin-bottom: 23px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acoes-contato > #butoes-contato {
  margin-left: 5%;
}


@media screen and (max-width: 612px) {
  .infos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }

  .info-contato {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 24px;
    width: calc(100% - 20px);
  }

  .info-contato > div {
    width: 100%;
  }

  .titulo-contato {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-contato > div {
    margin-top: 20px;
  }

  .mapa-contato {
    margin-left: 2%;
    margin-top: 5%;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .comentario-contato {
    margin-bottom: 12px;
  }
} 